<p align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</p>

<% if flash.has?(:message) %>
  <h2><%= flash[:message] %></h2>
<% end %>

<h1><%= @person.first_name[0] %>. <%= @person.last_name %> Profile</h1>

<h3>Full Name: <%= @person.first_name %> <%= @person.last_name%></h3>

<p>DOB: <%= @date %></p>

<p>Age: <%= @person.age %></p>

<p>Username: <%=@user.username %></p>

<a href="/readings"><input type="submit" value="Readings"></a>

<p align="right"><a href="/people/<%= @person.id %>/edit">
  <input type="submit" value="Edit"></a>
</p>

<p>
  <form action="/people/<%= @person.id %>/delete" method="post">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Profile">
  </form>
</p>
