<p align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</p>

<h1>New Reading</h1>

<% if flash.has?(:message) %>
  <h2><strong><%= flash[:message] %></strong></h2>
<% end %>

<form action="/readings" method="post">

  <h3><label for='date'>Date: </label></h3>
  <input type="date" name="date" value="<%= @date %>">

  <br>

  <h3><label for='time'>Time: </label></h3>
  <input type="time" name="time" value="<%= @time %>">

  <br>

  <h3><label for='systolic reading'>What is your systolic pressure? </label></h3>
  <input type="number" name="systolic" value="<%= @systolic %>">

  <br>

  <h3><label for='diastolic reading'>What is your diastolic pressure? </label></h3>
  <input type="number" name="diastolic" value="<%= @diastolic %>">

  <br>

  <h3><label for='pulse'>What is your heart rate? </label></h3>
  <input type="number" name="pulse" value="<%= @pulse %>">
  <p>(For a healthy adult a normal pulse is between 60 to 100 beats/minutes.)</p>

  <br>

  <h3><label for='comment'>Notes: </label></h3>
  <input type="text" name="content" value="<%= @comment %>">

  <br>

  <p><input type="submit" value="Save"></p>

</form>
